.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.details {
  align-items: center;  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.detail-box {
  margin-left:5px;
}

.detail-box-explanation {
  width:50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: absolute;
  bottom: 0px;
  background-color: #282c44;
  width: 100%;
  display: flex;
  flex-direction: row-reverse
}

.footer-box {
  margin-right: 10px;
}